
	
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="/images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />美丽说管理中心</h1>
    <p id='userInfo'>欢迎:
    
   
    	<span><%= userInfo[0].loginname%></span>

  
    	
    </p>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="/" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a class="button button-little bg-red logout" href="/login"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>

<script type="text/javascript">
	$('.logout').click(function(data){
		
		localStorage.removeItem('logintime')
		
	})
	
	
</script>

